<div class="categories__container">
  <div class="dir__arrow arrow__left" (click)="scrollLeft()">
    <i class="bi bi-chevron-left"></i>
  </div>
  <ul class="categories__items" #widgetsContent>
    <li
      class="category__item"
      *ngFor="let category of categories; let i = index"
      [ngClass]="{ selected__category: i === selectedCategory }"
      (click)="onCategorySelect(i)"
    >
      <img
        class="category__image"
        src="assets/images/categories/{{ category.toLowerCase() }}.png"
        alt="{{ category }}"
      />
      <span class="category__name">{{ category }}</span>
    </li>
  </ul>
  <div class="dir__arrow arrow__right" (click)="scrollRight()">
    <i class="bi bi-chevron-right"></i>
  </div>
</div>
