<div
  class="movie__details__container"
  *ngIf="selectedMovie; else movie_not_available"
>
  <div class="movie__poster__container">
    <img
      src="{{ selectedMovie.image }}"
      alt="media art"
      class="movie__poster"
      onerror='this.onerror=null;this.src="https://progression-studios.com/skrn/images/demo/listing-1.jpg"'
    />
  </div>
  <div class="movie__info__container">
    <div class="movie__title__container">
      <h1 class="movie__title">{{ selectedMovie.title }}</h1>
    </div>
    <div class="other__info">
      <div class="info">
        <h4>IMDB Ratings</h4>
        <span>{{ selectedMovie.imdbRatings }}</span>
      </div>
      <div class="info">
        <h4>Language</h4>
        <span>{{ selectedMovie.language }}</span>
      </div>
      <div class="info">
        <h4>Genre</h4>
        <span>{{ selectedMovie.genre }}</span>
      </div>
    </div>
    <div class="movie__desc__container">
      <h3>Description</h3>
      <p class="movie__desc">
        {{ selectedMovie.description }}
      </p>
    </div>
    <div class="other__info">
      <div class="info">
        <button class="btn" (click)="onWatched()">
          {{ watched ? 'Re-Watch' : 'Watch' }}
        </button>
      </div>
      <div class="info">
        <button class="btn" (click)="onWatchLater()">
          {{ watchedLater ? 'Alredy added in watch later' : 'Watch Later' }}
        </button>
      </div>
      <div class="info">
        <button class="btn" (click)="onFavMovie()">
          {{ favMovie ? 'Your favorite movie' : 'Add in favorite list' }}
        </button>
      </div>
      <div class="info">
        <input type="text" [(ngModel)]="review" />
        <button class="btn" (click)="addReview()" *ngIf="review">
          Add review
        </button>
      </div>
    </div>
    <div class="review__container">
      <h2>Reviews</h2>
      <div class="review" *ngFor="let review of selectedMovie.reviews">
        <h5>{{ review.name }} | {{ review.email }}</h5>
        <p>{{ review.message }}</p>
      </div>
    </div>
  </div>
</div>
<ng-template #movie_not_available>
  <span>You have not selected any movie to watch it later.</span>
</ng-template>
