<div class="top__navbar">
  <div class="nav__items">
    <a class="brand__icon__link">
      <img
        class="brand__img"
        src="assets/images/nagp_icon.PNG"
        alt="Brand Icon"
        width="95"
      />
    </a>
    <div class="main__container">
      <div class="left__container">
        <div class="bi bi-search"></div>
        <input
          class="search__input"
          type="text"
          placeholder="Search for Movies or TV Series"
          aria-label="Search"
        />
      </div>
      <div class="right__container">
        <div class="auth__container">LogIn</div>
      </div>
    </div>
  </div>
</div>
