<div class="top__navbar">
  <div class="nav__items">
    <a class="brand__icon__link">
      <img
        class="brand__img"
        src="assets/images/nagp_icon.PNG"
        alt="Brand Icon"
        width="95"
      />
    </a>
    <div class="main__container">
      <div class="left__container">
        <div class="bi bi-search"></div>
        <input
          class="search__input"
          type="text"
          placeholder="Search for Movies or TV Series"
          aria-label="Search"
          [(ngModel)]="searchText"
          (input)="onSearchChange()"
        />
      </div>
      <div class="right__container">
        <div
          class="auth__container"
          *ngIf="user; else user_name"
          (click)="onToggleDropdown()"
        >
          <span class="auth__text">{{ user?.name }}</span>
        </div>
        <div class="dropdown__continer" *ngIf="isDropdownOpen">
          <ul class="links__container">
            <li class="link__container">
              <input
                type="checkbox"
                id="prime__checkbox"
                [checked]="primeStatus"
                (click)="activatePrime($event)"
              />
              <label for="prime__checkbox" class="link">Prime</label>
            </li>
            <li class="link__container">
              <span class="link" (click)="logoutUser()">Logout</span>
            </li>
          </ul>
        </div>
        <ng-template #user_name>
          <div class="auth__container">
            <a routerLink="login" class="auth__text">
              LogIn
            </a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
