<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12"><label for="">Movie Name</label></div>
        <div class="col-md-12">
          <input type="text" [(ngModel)]="name" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"><label for="">Movie Description</label></div>
        <div class="col-md-12">
          <input type="text" [(ngModel)]="description" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="">Movie ratings between 1-10</label>
        </div>
        <div class="col-md-12">
          <input type="number" [(ngModel)]="imdbRatings" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button (click)="addNewMovie()">Add Movie</button>
        </div>
      </div>
    </div>
  </div>
</div>
